#rotate-this{
  width: 700px;
  height: auto;
  padding: 0px;
  margin: 0px;
  display: block;
  vertical-align: middle;
  horizontal-align: middle;
}

.wheel-container{
  margin: 0 auto;
  line-height: 1;
}
